<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <%= link_to "MERCASA", root_path, class: "logo"%>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="#estamos-chegando">ESTAMOS CHEGANDO!</a></li>
          <li><a href="#services">Sobre</a></li>
          <li><a href="#teams">Quem somos</a></li>
          <li><a href="#contact">Cadastre-se</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>O supermercado a um click de distância</h1>
        <p>Seu tempo é precioso demais para desperdiçá-lo nos corredores e nas filas dos supermercados.<br>Ajudar seu filho no dever de casa? Estudar para aquela prova importante?
        <br>Aprender uma nova língua? Ver um filme com a família ou com os amigos?<br><br>O que você faria se ganhasse mais tempo pra você?</p>
        <a href="#" class="btn btn-large">Cadastre-se</a> </div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 
<!-- intro section -->
<section id="estamos-chegando" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>ESTAMOS CHEGANDO</h3>
      <p>Este é o tempo que você vai precisar esperar para nunca mais perder tempo fazendo compras em supermercado.</p>
      <div id="countdown"></div>      
      <script type="text/javascript">
        $('#countdown').countdown('2018/02/01', function(event) {
          $(this).html(event.strftime('%D dias %Hh %Mm e %Ss '));
        });
      </script>
      <p><br>Nosso mercado online abrirá suas portas no dia <u>01 de Fevereiro de 2018</u>. Esperamos por você! </p>
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-heart" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Seu tempo de vida é precioso!</h5>
          <p>Queremos que você tenha mais tempo pra dedicar às coisas realmente importantes da vida. Esqueça os corredores e as filas dos supermercados, nós levamos o mercado até você!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-shopping-cart" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Compre de qualquer lugar</h5>
          <p>Pelo computador ou celular, através de nosso site; Mercasa é o mercado que cabe no seu bolso e está sempre disponível para atendê-lo.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-hourglass" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Receba rápido ou quando quiser</h5>
          <p>Tá com pressa? Entregamos seu pedido em até 3 horas, nada de te deixar esperando até o dia seguinte! Quer agendar sua entrega? Receber regularmente? Aqui você pode tudo isso e muito mais!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-tasks" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Saiba seu histórico de compras</h5>
          <p>Faça uma nova compra baseando-se em compras anteriores, removendo ou adicionando poucos itens, em vez de criar uma lista do zero.<br>Maior controle e comodidade pra você.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-briefcase" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Monte combos de produtos</h5>
          <p>Todos os ingredientes de uma receita, ou todos os produtos para aquele churrasco tradicional de domingo. Monte seus próprios combos e compre tudo com 1 click.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="glyphicon glyphicon-star" style="font-size: 2em; color: #00aeda;"></span>
        <div class="services-content">
          <h5>Fazemos tudo do seu jeito</h5>
          <p>Pagar direto pelo site ou no momento da entrega? Não estará em casa e gostaria que deixássemos no vizinho ou na portaria? Sem problemas! Diga-nos o que precisa e faremos de tudo para atendê-lo.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section --> 
<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
    <div class="row titled">
      <h5>Nosso Time</h5>
      <div class="center-aligner">
        <div class="col-md-4 col-sm-6">
          <div class="person"><img src="<%= asset_path('lucas.JPG') %>" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Lucas Correa</h4>
              <h5 class="role" style="padding-bottom: 15px;">Desenvolvedor</h5>
              <p>Formado em Sistemas de Informação, pela USP, adora Ciência de Dados e Inteligência Artificial. Patente AK no CS:GO, faz parkour desde os 11 anos mas não sabe nadar.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="https://www.facebook.com/lucascorreaaa" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://twitter.com/lucascorreaaa" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li><a href="https://www.linkedin.com/in/lucascorreasilva/" target="_blank"><span class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="person"> <img src="<%= asset_path('bruno.JPG') %>" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Bruno Procopio</h4>
              <h5 class="role" style="padding-bottom: 15px;">Desenvolvedor</h5>
              <p>Formado em Sistemas de Informação, pela USP, exímio jogador de Magic e programador C#. Gosta de se embebedar e baixar filmes clássicos via torrent.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="https://www.facebook.com/bruno.procopio.31" class="" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <!-- <li><a href="#" class="" target="_blank"><span class="fa fa-twitter"></span></a></li> -->
              <li><a href="https://www.linkedin.com/in/bruno-procopio-313b1499/" class="" target="_blank"><span class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="person"> <img src="<%= asset_path('gui.JPG') %>" alt="" class="img-responsive">
            <div class="person-content">
              <h4>Gui Oliveira</h4>
              <h5 class="role" style="padding-bottom: 15px;">Desenvolvedor</h5>
              <p>Formado em Sistemas de Informação, pela USP, goleiro de futebol, apesar da baixa estatura. Adora jogar Fifa, incomodar os vizinhos com sua bateria e dormir no metrô.</p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="https://www.facebook.com/gui.oliveira.121772" class="" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://twitter.com/Gui_01iveira" class="" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <!-- <li><a href="#" class="" target="_blank"><span class="fa fa-linkedin"></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our team section --> 
<!-- contact section -->
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <h5>Cadastre-se</h5>
        <p>Envie-nos seu <b>nome</b>, <b>email</b> e <b>CEP</b> abaixo para ser notificado e não perder nossa inauguração.<br> Conte-nos o que faria se tivesse mais tempo livre.</p>
        <form method="post" action="php/contact.php" name="cform" id="cform">
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Nome Completo*" >
          <input name="email" id="email" type="email" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email*" >
          <input name="subject" id="subject" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="CEP*" >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="O que faria se tivesse mais tempo livre?"></textarea>
          <input type="button" id="submit" name="send" class="submitBnt" value="Enviar" data-toggle="modal" data-target="#myModal" data-show="false">
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section --> 

<!-- Footer section -->
<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-6">
          <h5>Nossa Localização</h5>
          <p>Rua dos Bobos, 0<br>
            São Paulo / SP<br>
            sac@mercasa.com</p>
          <p>Copyright © 2017 Lexis Inc. Todos os direitos reservados. Made with <i class="fa fa-heart pulse"></i> by <a href="http://www.designstub.com/">Designstub</a></p>
        </div>
        <div class="footer-col col-md-3">
          <h5>Serviços</h5>
          <p>
          <ul>
            <li><a href="#">Entrega</a></li>
            <li><a href="#">Histórico de Compras</a></li>
            <li><a href="#">Combos</a></li>
            <li><a href="#">Agendamento</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top --> 
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cadastrado com sucesso!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <p>Entraremos em contato para garantir que não perca nossa inauguração.</p>
      </div>
    </div>
  </div>
</div>