<h1>Mercasa</h1>
  <p>
    Escolha uma das ações a seguir:
    <ul>
        <li><%= link_to "Cadastro de Usuário", new_user_path %> </li>
        <li><%= link_to "Cadastro de Produto", new_product_path %> </li>
      </ul>
    </p>
